<div class="Wholeshow" style="text-align: center;">

  <h4> Artist </h4>
<p><h1><%=@artist.name%></h1></p>
<p>Formed in: <b><%=@artist.act_since.floor%></b> Genre(s): <%=@artist.genre%></p>
<hr>
<h4>Songs:</h4>
<ul id="songlist">
  <% @artist.songs.each do |song| %>
    <li data-id="<%= song.id %>"><%= song.name %></li>
  <% end %>
</ul>
<hr>
</div>

<p>Bio: <%=@artist.bio%></p>
<%= link_to "[bollocks]", new_artist_song_path(@artist)%>
<hr>

<head>
<%= link_to "Remove this artist", artist_path(@artist[:id]), method: :delete, data: { confirm: "Are you sure?" } %></head>

<form onSubmit="submitSong(event)">
  <label for="song-input">Tings</label>
  <input type="text" id="song-input">
</form>

<script>
var artistId = <%= @artist.id %>;
</script>
