<div class="Wholeshow" style="text-align: center;">

  <h4> Artist </h4>
<p><h1><%=@artist.name%></h1></p>
<p>Formed in: <b><%=@artist.act_since.floor%></b> Genre(s): <%=@artist.genre%></p>
<hr>
<h4>Songs:</h4>
<% @artist.songs.each do |song| %>
  <p>
      <div><%= song.name %></span> <b>  <%= song.length_min %>:<%= song.length_sec %></b><div>

        <%= link_to "Remove this song", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?"} %>
  </p>

<% end %>
<hr>
</div>

<p>Bio: <%=@artist.bio%></p>
<%= link_to "[bollocks]", new_artist_song_path(@artist)%>
<hr>

<head>
<%= link_to "Remove this artist", artist_path(@artist[:id]), method: :delete, data: { confirm: "Are you sure?" } %></head>
